@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .dark {
    @apply bg-primary-400 text-white;
  }
  
  .light {
    @apply bg-primary-100 text-primary-500;
  }
}

@layer components {
  .skeleton-text {
    @apply h-5 w-full bg-[#f5f5f5] dark:bg-[#334351];
  }
}

@layer utilities {
  .backface-hidden {
    backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
  }

  .perspective-150 {
    perspective: 150rem;
  }

  .rotate-y-180 {
    transform: rotateY(180deg);
  }

  .-rotate-y-180 {
    transform: rotateY(-180deg);
  }
}
